<div class="row">
    <div class="form-group col-md-6">
      <input type="text"
        class="form-control" name="" aria-describedby="helpId" placeholder="First Name" [(ngModel)]="employeeService.currentEmployee.firstName">
    </div>
    <div class="form-group col-md-6">
        <input type="text" class="form-control" name="" aria-describedby="helpId" placeholder="Last Name" [(ngModel)]="employeeService.currentEmployee.lastName">
    </div>
    <div class="form-group col-md-12">
        <input type="text" class="form-control" name="" aria-describedby="helpId" placeholder="Designation" [(ngModel)]="employeeService.currentEmployee.designation">
    </div>
    <div class="form-group col-md-6">
        <input type="text" class="form-control" name="" aria-describedby="helpId" placeholder="Contact" [(ngModel)]="employeeService.currentEmployee.contact">
    </div>
    <div class="form-group col-md-6">
        <input type="text" class="form-control" name="" aria-describedby="helpId" placeholder="Addresse" [(ngModel)]="employeeService.currentEmployee.address">
    </div>
</div>

<div class="row">
    <div class="col-md-8">
    <button name="" id="" class="btn btn-primary " href="#" role="button" (click)="createAndUpdate(employeeService.currentEmployee)">Save</button>
    </div>

    <div class="col-md-4">
        <button name="" id="" class="btn btn-primary" href="#" role="button" (click)="clear()">Clear</button>
    </div>
</div>