<div class="container">
    <div class="row">
        <div class="col-md-12">
            <app-employee></app-employee>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <app-employee-list></app-employee-list>
        </div>
    </div>
</div>