<div class="table table-hover">
    <table class="table">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>designation</th>
                <th>Contact</th>
                <th>Address</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let emp of allEmployee">
                <td>{{emp.firstName}}</td>
                <td>{{emp.lastName}}</td>
                <td>{{emp.designation}}</td>
                <td>{{emp.contact}}</td>
                <td>{{emp.address}}</td>
                <td><button class="btn" (click)="edit(emp)"><i class="fa fa-pencil" aria-hidden="true"></i></button></td>
                <td><button class="btn" (click)="deleteEmployee(emp.id)"><i class="fa fa-trash" aria-hidden="true"></i></button></td>
            </tr>
           
        </tbody>
    </table>
</div>